.Navbar ul {
list-style: none;
padding-left: 0;
margin: 0;
}

html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

html {
font-size: 62.5%;
}

body {
font-size: 1.4rem;
font-family: Arial, sans-serif;
line-height: 1.5;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


/* ---------------------------------------------------------- */

/* 엑스로 변하는 햄버거 버튼 */
.Toggle {
position: relative;
display: inline-block;
width: 6rem;
height: 6rem;
padding-top: 3rem;
border-radius: 100%;
background-color: transparent;
}

.Toggle span {
margin: -0.1rem auto 0;
vertical-align: top;
transition-duration: 0s;
transition-delay: 0.2s;
text-indent: 100%;
line-height: 0;
white-space: nowrap;
overflow: hidden;
}

.Toggle span, .Toggle span:before, .Toggle span:after {
display: block;
width: 2.1rem;
height: 0.2rem;
background-color: #fff;
}

.Toggle span:before, .Toggle span:after {
content: "";
position: absolute;
transition-property: margin, transform;
transition-duration: 0.2s;
transition-delay: 0.2s, 0s;
}
.Toggle span:before {
margin-top: -0.7rem;
}
.Toggle span:after {
margin-top: 0.7rem;
}
.Toggle:hover span:before {
transform: translateY(-1px);
}
.Toggle:hover span:after {
transform: translateY(1px);
}
.Toggle.is-active span {
background-color: rgba(255, 255, 255, 0);
transition-delay: 0.2s;
}
.Toggle.is-active span:before, .Toggle.is-active span:after {
margin-top: 0;
transition-delay: 0s, 0.2s;
}
.Toggle.is-active span:before {
transform: rotate(45deg);
}
.Toggle.is-active span:after {
transform: rotate(-45deg);
}
/* 엑스로 변하는 햄버거 버튼 끝 */



body {
min-height: 100vh;
padding-top: 6rem;
background-image: url(https://www.gstatic.com/prettyearth/assets/full/2442.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}

.Navbar {
color: #fff;
font-size: 1rem;
font-weight: bold;
line-height: 2.8rem;
letter-spacing: 0.28rem;
text-transform: uppercase;
position: fixed;
backface-visibility: hidden;
top: 0;
left: 0;
width: 100%;
background-color: #000;
}
.Navbar a:not(.Navbar-toggle) {
color: inherit;
text-decoration: none;
}

.Navbar-menu a {
display: block;
}

.Navbar-menu {
line-height: 1.6rem;
position: fixed;
top: 6rem;
left: 0;
bottom: 0;
display: flex;
flex-direction: column;
width: 0%;
overflow-y: auto;
visibility: hidden;
padding: 2.4rem 0;
background-color: teal;
opacity: 0;
transition-property: opacity, visibility, width;
transition-duration: 0.35s, 0.25s, 0.25s;
transition-delay: 0.1s;
}

.Navbar-menu .Navbar-menu-major {
flex-grow: 1;
}


.Navbar-menu.is-active {
opacity: 1;
visibility: visible;
width: 100%; /* 작아졌을때 가로 */
transition-duration: 0.15s, 0.25s, 0.25s;
}

.Navbar-menu-major a {
padding: 1.6rem 14%;
}

.Navbar-menu-major {
font-size: 1.4rem;
}
.Navbar-menu-major a:hover {
background-color: black;
}







@media (min-width: 544px) {
    .u-Navbar-hidden\@sm-up {
    display: none;
    }

    body {
    padding-top: 0;
    padding-left: 6rem;
    }

    .Navbar {
    bottom: 0;
    width: 6rem;
    }

    .Navbar-toggle {
    position: absolute;
    top: 0;
    }

    .Navbar-menu {
    top: 0;
    left: 6rem;
    padding-top: 5.2rem;
    }
    .Navbar-menu.is-active {
    width: 26rem;
    }

    .Navbar-brand {
    position: absolute;
    top: 6rem;
    right: 0;
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
    transform: rotate(-90deg) translateY(-6rem);
    transform-origin: right top;
    }

    .Navbar-quickLinks {
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    display: block;
    padding-left: 1.6rem !important;
    transform: rotate(-90deg) translateX(-6rem);
    transform-origin: 0 0;
    }
    .Navbar-quickLinks li {
    display: inline-block;
    }
}